*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
    height: auto;
}

header{
    background: url(img/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    clear: both;
}

.header-container{
    display: flex;
    flex-direction: row;
}

.header-container > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
